# .prettierignore
#
# Copyright © 2025 Network Pro Strategies (Network Pro™)
# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Pro.

# Custom ignores
.markdownlint.jsonc


# Node.js dependencies
node_modules

# Build artifacts
dist
.vite
.cache
coverage

# Temporary files
*.lock
*.tmp
*.swp
*.bak

# Static assets
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.woff
**/*.woff2
**/*.ttf
**/*.eot

# Configuration files
package.json
package-lock.json
