# .github/workflows/build-and-deploy.yml
#
# Copyright © 2025 Network Pro Strategies (Network Pro™)
# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Pro

name: Build Site and Deploy to GH Pages

on:
  release:
    types: [created]
  workflow_dispatch:

# Use per-job permissions
permissions: {}

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  check-codeql:
    uses: ./.github/workflows/check-codeql.yml
    permissions:
      actions: read
      contents: read

  build:
    needs: check-codeql
    runs-on: ubuntu-24.04
    permissions:
      actions: read
      contents: read
      pages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Upgrade npm
        run: |
          corepack enable
          npm install -g npm@11.6.2

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install Node.js dependencies
        run: npm ci

      # Begin MkDocs setup
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
          cache: 'pip'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      # Strict mode disabled for mkdocs-material
      - name: Build MkDocs documentation
        run: mkdocs build

      - name: Copy package.json to build directory
        run: cp package.json build/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./build

  deploy:
    needs: [check-codeql, build]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
